.wrapper {
  position: relative;
  top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
  box-shadow: 4px 4px 8px 5px rgba(34, 60, 80, 0.2);
  background-color: #e0e0e0;
  width: 500px;
  margin: 10px;
  box-sizing: border-box;
  line-height: 1.5rem;
  border-radius: 15px;
  padding: 10px;
  font-size: 0.75rem;
  font-weight: 700;
  color: rgb(125, 125, 125);
}
.header {
  grid-area: 1 / 1 / 2 / 3;
  text-align: center;
}
.header--logo {
  height: 80%;
}
.filters {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 124px 84px 116px 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}
@media only screen and (max-width: 530px) {
  .wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    padding: 30px 10px 10px 10px;
    border-radius: 0;
    overflow: hidden;
  }
}
