.button-radio {
  display: flex;
  flex-direction: column;
  margin: 0.25rem 0;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
  border-radius: 8px;
}

.button-radio input[type="radio"] {
  display: none;
}

.button-radio label {
  cursor: pointer;
  padding: 4px 10px;
}

.button-radio input[type="radio"]:checked + label {
  box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
  border-radius: 8px;
  z-index: 1;
}

.button-radio input[type="radio"]:disabled + label {
  color: rgb(150, 150, 150);
  box-shadow: "none";
  z-index: 0;
}

.button-radio label:hover {
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
  border-radius: 8px;
  z-index: 2;
}

.button-radio label:active {
  box-shadow: inset 5px 5px 10px #a8a8a8, inset -5px -5px 10px #ffffff;
  z-index: 2;
}

.button-radio input[type="radio"]:disabled + label:hover {
  color: rgb(150, 150, 150);
  box-shadow: "none";
  z-index: 0;
}
